<div>

  <%= form_with(model: @user, url: approvals_update_month_approval_user_path(@user), method: :patch, local: true) do |f| %>

  <% @usersa.each do |user| %>
    <% if @user.id == 2 %> 
      <% if user.approvals.count > 0 && @approvala != user.id %>   
        <h1><%= user.name %>からの1ヶ月勤怠変更申請</h1>
      <% end %>
    <% end %>

    <% @approvals.each do |approval| %>
      <% if approval.user_id == user.id %>
        <%= f.fields_for "approvals[]", approval do |a| %>
          <% if (approval.superior_id == @user.id) %>

      <table class="table table-bordered table-condensed table-hover table-striped" id="table-attendances">
        <thead>
          <tr>
            <th>月</th>
            <th>指示者確認㊞</th>
            <th>変更</th>
            <th>勤怠を確認する</th>
          </tr>
       </thead><%= @month %>
            <td><%= l(@first_day, format: :month, default: '-') %></td> 
            <td><%= f.select :month_checker, @month_approval, { include_blank: "" }, class: "form-control" %></td>
            <td><%= f.check_box :status_change %></td>
            <td><%= link_to "確認", user_path(@user), class: "btn btn-sm btn-primary" %></td>
          </tr>
        </tbody>
      </table>
  <% end %>
  <% end %>
  <% end %>
  <% end %>    

    <% end %>   
          <div class="center">
            <%= f.submit "変更を送信する", class: "btn btn-lg btn-primary" %>
          </div>
  <% end %>  
</div>