<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table" id="attendance-time">
   <tr>
     <td>
     <% unless current_user?(@user) %>
       <div>
　　　   <%= l(@first_day, format: :middle) %> 時間管理表 
       </div>
     <% else %>
       <div class="btn-users-show"><%= link_to "⬅️", user_path(date: @first_day.prev_month), class: "btn btn-info" %>
　　　   <%= l(@first_day, format: :middle) %> 時間管理表 
　　　   <%= link_to "➡️", user_path(date: @first_day.next_month), class: "btn btn-info" %>
       </div>
     <% end %> 
     </td>
         <td>
             指定勤務開始時間 : <%= format_basic_info(@user.designated_work_start_time) %>
         <br>    
             指定勤務終了時間 : <%= format_basic_info(@user.designated_work_end_time) %> 
         </td>
         <td colspan="3">基本時間 : <%= format_basic_info(@user.basic_work_time) %></td>
         <td>初日 : <%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属 : <%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>氏名 : <%= @user.name %></td>
      <td>社員番号</td>
      <td><%= @user.employee_number %></td>
      <td>出勤日数 : <%= @worked_sum %>日</td>
      <td>締め : <%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<% if current_user.superior? %>  
  <div class="row">
    <div class="col-md-5">  
      <% if @user.id == 2 && current_user?(@user) %>
        <div>   
          <% if @approval_sum1 == 0 %>
            <font class="approval">【所属長承認申請のお知らせ】</font>
          <% else %>
            <font class="approval-1"><%= link_to "【所属長承認申請のお知らせ】", attendances_edit_month_approval_user_path, remote: true, :style=>"color:maroon;" %></font>
            <font class="box-1" color="maroon"><%= "#{@approval_sum1}件の通知があります" %></font>
          <% end %>
        </div>
      <% end %>
      <% if @user.id == 3 && current_user?(@user) %>
        <div>   
          <% if @approval_sum2 == 0 %>
            <font class="approval">【所属長承認申請のお知らせ】</font>  
          <% else %>
            <font class="approval-1"><%= link_to "【所属長承認申請のお知らせ】", attendances_edit_month_approval_user_path, remote: true, :style=>"color:maroon;" %></font>
            <font class="box-1" color="maroon"><%= "#{@approval_sum2}件の通知があります" %></font>
          <% end %>
        </div>
      <% end %>
  
      <% if @user.id == 2 && current_user?(@user) %>
        <div>
          <% if @approval_sum3 == 0 %>
            <font class="approval">【勤怠変更申請のお知らせ】</font>
          <% else %>
            <font class="approval-2"><%= link_to "【勤怠変更申請のお知らせ】", attendances_edit_worktime_approval_user_path, remote: true, :style=>"color:green;" %></font>
            <font class="box-2" color="green"><%= "#{@approval_sum3}件の通知があります" %></font>
          <% end %>
        </div>    
      <% end %>
      <% if @user.id == 3 && current_user?(@user) %>
        <div>
          <% if @approval_sum4 == 0 %>
            <font class="approval">【勤怠変更申請のお知らせ】</font>
          <% else %>
            <font class="approval-2"><%= link_to "【勤怠変更申請のお知らせ】", attendances_edit_worktime_approval_user_path, remote: true, :style=>"color:green;" %></font>
            <font class="box-2" color="green"><%= "#{@approval_sum4}件の通知があります" %></font>
          <% end %>
        </div>    
      <% end %>
  
      <% if @user.id == 2 && current_user?(@user) %>
        <div>  
          <% if @approval_sum5 == 0 %>  
            <font class="approval">【残業申請のお知らせ】</font>
          <% else %>
            <font class="approval-3"><%= link_to "【残業申請のお知らせ】", attendances_edit_overwork_approval_user_path, remote: true, :style=>"color:blue;" %></font>
            <font class="box-3" color="blue"><%= "#{@approval_sum5}件の通知があります" %></font>
          <% end %>
        </div>
      <% end %>
      <% if @user.id == 3 && current_user?(@user) %>
        <div>  
          <% if @approval_sum6 == 0 %>  
            <font class="approval">【残業申請のお知らせ】</font>
          <% else %>
            <font class="approval-3"><%= link_to "【残業申請のお知らせ】", attendances_edit_overwork_approval_user_path, remote: true, :style=>"color:blue;" %></font>
            <font class="box-3" color="blue"><%= "#{@approval_sum6}件の通知があります" %></font>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="col-md-6">
      <% if current_user?(@user) %>
        <div>
          <% if @result_sum1 == 0 && @result_sum2 == 0 && @result_sum7 == 0 %>  
            <font class="approval">【所属長承認申請】</font>
          <% else %>
            <font class="approval-1">【所属長承認申請】</font>
            <font class="approval" color="maroon"><%= "[申請中#{@result_sum7}件　承認#{@result_sum1}件　否認#{@result_sum2}件]" %></font>
          <% end %>
        </div>
        <div>
          <% if @result_sum3 == 0 && @result_sum4 == 0 && @result_sum8 == 0 %>  
            <font class="approval">【勤怠変更申請】</font>
          <% else %>
            <font class="approval-2">【勤怠変更申請】</font>
            <font class="approval" color="green"><%= "[申請中#{@result_sum8}件　承認#{@result_sum3}件　否認#{@result_sum4}件]" %></font>
          <% end %>
        </div>
        <div>
          <% if @result_sum5 == 0 && @result_sum6 == 0 && @result_sum9 == 0 %>  
            <font class="approval">【残業申請】</font>
          <% else %>
            <font class="approval-3">【残業申請】</font>
            <font class="approval" color="blue"><%= "[申請中#{@result_sum9}件　承認#{@result_sum5}件　否認#{@result_sum6}件]" %></font>
          <% end %>
        </div>
      <% end %>   
    </div>
  </div>
<% end %>

<% unless current_user.superior? %>
  <% if current_user?(@user) %>  
    <div>
      <% if @result_sum1 == 0 && @result_sum2 == 0 && @result_sum7 == 0 %>  
        <font class="approval">【所属長承認申請】</font>
      <% else %>
        <font class="approval-1">【所属長承認申請】</font>
        <font class="approval" color="maroon"><%= "[申請中#{@result_sum7}件　承認#{@result_sum1}件　否認#{@result_sum2}件]" %></font>
      <% end %>
    </div>
    <div>
      <% if @result_sum3 == 0 && @result_sum4 == 0 && @result_sum8 == 0 %>  
        <font class="approval">【勤怠変更申請】</font>
      <% else %>
        <font class="approval-2">【勤怠変更申請】</font>
        <font class="approval" color="green"><%= "[申請中#{@result_sum8}件　承認#{@result_sum3}件　否認#{@result_sum4}件]" %></font>
      <% end %>
    </div>
    <div>
      <% if @result_sum5 == 0 && @result_sum6 == 0 && @result_sum9 == 0 %>  
        <font class="approval">【残業申請】</font>
      <% else %>
        <font class="approval-3">【残業申請】</font>
        <font class="approval" color="blue"><%= "[申請中#{@result_sum9}件　承認#{@result_sum5}件　否認#{@result_sum6}件]" %></font>
      <% end %>
    </div>
  <% end %>
<% end %>

<br>

<% if current_user?(@user) %>
  <div class="btn-users-show"><%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), 
    class: "btn btn-primary" %>
    <%= link_to "CSV出力", user_path(format: :csv, date: @first_day), class: "btn btn-primary" %>
  <br>
    <%= link_to "勤怠修正ログ(承認済)", edit_attendancelog_path, class: "btn btn-primary", id: "btn-fix" %>
  </div>
  <br>
  <div>  
<% end %>

<table class="table table-bordered table-condensed table-hover table-striped" id="table-attendances">

  <thead>
    <tr>
      <th rowspan="3">残業申請</th>
      <th rowspan="3">日付</th>
      <th rowspan="3">曜日</th>
      <th colspan="8">【実績】</th>
      <th colspan="5">所定外勤務</th>
    </tr>
    <tr>
      <th colspan="3">出社</th>
      <th colspan="3">退社</th>
      <th rowspan="2">存社時間</th>
      <th rowspan="2">備考</th>
      <th colspan="2">終了予定時間</th>
      <th rowspan="2">時間外時間</th>
      <th rowspan="2">業務処理内容</th>
      <th rowspan="2">指示者確認㊞</th>
    </tr>
    <tr>
      <th>時</th>
      <th>分</th>
      <th></th>
      <th>時</th>
      <th>分</th>
      <th></th>
      <th>時</th>
      <th>分</th>
    </tr>
  </thead>

  <tbody>
    
    <% @attendances.each do |day| %>
    
    <tr>
      <td>
        <% if current_user?(@user) %> 
          <%= link_to "残業申請", attendances_edit_overwork_request_user_path(@user, date: day.worked_on), remote: true, class: "btn btn-primary" %>
        <% end %>
      </td>
      <td><%= l(day.worked_on, format: :short) %></td>
              <% 
                css_class = 
                case %w{日 月 火 水 木 金 土}[day.worked_on.wday]
                when '土'
                'text-primary'
                when '日'
                'text-danger'
                end
              %>
      <td class="<%= css_class %>"><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %></td>
      
      <td>
          <% if day.worktime_approval == "申請中" || day.worktime_approval == "承認" %>
            <%= day.started_at&.strftime("%H") %>
          <% elsif day.worktime_approval == "否認" %> 
            <%= day.before_started_at&.strftime("%H") %>
          <% else %>
            <%= day.started_at&.strftime("%H") %>
          <% end %>
      </td>
      <td>
          <% if day.worktime_approval == "申請中" || day.worktime_approval == "承認" %>
            <%= day.started_at&.strftime("%M") %>
          <% elsif day.worktime_approval == "否認" %> 
            <%= day.before_started_at&.strftime("%M") %>
          <% else %>
            <%= day.started_at&.strftime("%M") %>
          <% end %>
      </td> 
      
      <td>
          <% if current_user?(@user) == day.started_at.nil? %> 
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          <% end %>
      </td>
      
      <td>
          <% if day.worktime_approval == "申請中" || day.worktime_approval == "承認" %>
            <%= day.finished_at&.strftime("%H") %>
          <% elsif day.worktime_approval == "否認" %> 
            <%= day.before_finished_at&.strftime("%H") %>
          <% else %>
            <%= day.finished_at&.strftime("%H") %>
          <% end %>
      </td>
      <td>
          <% if day.worktime_approval == "申請中" || day.worktime_approval == "承認" %>
            <%= day.finished_at&.strftime("%M") %>
          <% elsif day.worktime_approval == "否認" %> 
            <%= day.before_finished_at&.strftime("%M") %>
          <% else %>
            <%= day.finished_at&.strftime("%M") %>
          <% end %>   
      </td>
      
      <td>
          <% if current_user?(@user) == day.started_at.present? && day.finished_at.nil? %> 
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          <% end %>
      </td>
      
      <td>
          <% if day.started_at.present? && day.finished_at.present? %>      
            <% if day.worktime_approval == "申請中" || day.worktime_approval == "承認" %>
              <%= str_times = working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes)) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% elsif  day.worktime_approval == "否認" && day.before_started_at.present? %>
              <%= str_times = before_working_times(day.before_started_at.floor_to(15.minutes), day.before_finished_at.floor_to(15.minutes)) %>   
            <% elsif day.worktime_approval == "否認" && day.before_started_at.blank? %>
              <%= %> 
            <% else %>  
              <%= str_times = working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes)) %>    
            <% end %>
          <% end %>
      </td>
      <td><%= day.note %></td>
      
      <!--%残業申請 %-->
      
      <td><%= day.plans_endtime.strftime('%H') if day.plans_endtime.present? %></td> 
      <td><%= day.plans_endtime.strftime('%M') if day.plans_endtime.present? %></td> 
      
      
      
      
      
      <td>
          <% if day.plans_endtime.present? %>
            <%= overwork_times(format_basic_info(day.plans_endtime), format_basic_info(@user.designated_work_end_time), day.next_day) %>
          <% end %>
      </td>
      <td><%= day.business_contents if day.business_contents.present? %></td>
      <td>
         <% if day.worktime_approval == "申請中" %> 
           <font color="green"><%= "【勤怠変更】#{day.worktime_check_superior}へ申請中" %></font>
         <% elsif day.worktime_approval == "承認" %>
           <font color="green"><%= "【勤怠変更】#{day.worktime_check_superior}から承認済" %></font>
         <% elsif day.worktime_approval == "否認" %> 
           <font color="green"><%= "【勤怠変更】#{day.worktime_check_superior}から否認されました" %></font>
         <% end %>
         <br>
         <% if day.overwork_status == "申請中" && day.plans_endtime.present? %> 
           <font color="blue"><%= "【残業申請】#{day.superior_confirmation}へ申請中" %></font>
         <% elsif day.overwork_status == "承認" && day.plans_endtime.present? %>
           <font color="blue"><%= "【残業申請】#{day.superior_confirmation}から承認済" %></font>
         <% elsif day.overwork_status == "否認" && day.plans_endtime.present? %> 
           <font color="blue"><%= "【残業申請】#{day.superior_confirmation}から否認されました" %></font>
         <% end %>
      </td>
    </tr>
   </tbody>
     <% end %>
   <tfoot>
     <tr>
       <td></td>
       <td colspan="2"></td>
       <td colspan="6"></td>
       <td></td>
       <td colspan="5"></td>
       <td>
       
         <% if @approval.month_status == "3" %>
           <font class="approval-4">所属長承認：<%= "#{@approval.month_check_superior}から承認済" %></font>
         <% elsif @approval.month_status == "4" %> 
           <font class="approval-4">所属長承認：<%= "#{@approval.month_check_superior}から否認" %></font>
         <% elsif @approval.month_status == "申請中" %>
           <font class="approval-4">所属長承認：<%= "#{@approval.month_check_superior}へ申請中" %></font>  
         <% else %>
           <font>所属長承認：未</font>  
         <% end %>
       
         <% if current_user == @user %> 
           <%= form_with(model: @user, url: attendances_update_month_apply_user_path(date: @first_day), local: true, method: :patch) do |f| %>
             <%= f.select :month_check_superior, @superiors.pluck(:name), { include_blank: "申請先を選択", selected: 1 },
                                                 { class: "form-control", required: true } %>
             <%= f.submit "申請", class: "btn btn-md btn-primary btn-block btn-monthapproval" %>
           <% end %>
         <% end %>
       </td>
      </tr>
    </tfoot>
  </table>
</div>

<div id="edit-month-approval" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-worktime-approval" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-overwork-request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-overwork-approval" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
