<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

    <h1 class="modal-title">【残業申請】</h1>

    <div class="modal-body"></div>
      <div class="row">       
        <div class="col-md-12">
          
          <%= form_with(model: @user, url: attendances_update_overwork_request_user_path(@user, date: params[:date]), local: true, method: :patch) do |f| %>
            
            <table class="table table-bordered table-condensed table-hover" id="table-attendances">
              <thead>
                <tr>
                  <th>日付</th>
                  <th>曜日</th>
                  <th>終了予定時間</th>
                  <th>翌日</th>
                  <th>業務処理内容</th>
                  <th>指示者確認㊞</th>
                </tr>
              </thead>
              <tbody>
              <% @attendances.each do |day| %>
                <%= f.fields_for "attendances[]", day do |attendance| %>  
                  <!--%= attendance.hidden_field :overwork_status, :value => "申請中" %-->
              
              <% css_class = case $days_of_the_week[day.worked_on.wday]
      					when '土'
      						'text-primary'
      					when '日'
      						'text-danger'
      					end %> 

              <tr>
                <td><%= l(day.worked_on, format: :short) %></td>
                <td class="<%= css_class %>"><%= $days_of_the_week[day.worked_on.wday] %>
                <td>
                    <% if day.overwork_status == "否認" %>
                      <%= attendance.time_select :approval_overtime, class: "form-control" %>
                    <% else %>
                      <%= attendance.time_select :plans_endtime, class: "form-control" %>
                    <% end %>
                </td>
                <td><%= attendance.check_box :next_day, {}, "true", "false" %></td>
                <td>
                    <% if day.overwork_status == "否認" %>
                      <%= attendance.text_field :approval_contents, class: "form-control" %>
                    <% else %>
                      <%= attendance.text_field :business_contents, class: "form-control" %>
                    <% end %>
                </td>
                <td><%= attendance.select :superior_confirmation, @superiors.pluck(:name), { include_blank: "申請先を選択", selected: 1 },
                                                                                           { class: "form-control", required: true } %></td>
              </tr>
                 <% end %>
               <% end %>
             </tbody>
            </table>
            <!--div class="modal-footer"-->
              <%= f.submit "変更を送信する", class: "btn btn-primary btn-block" %>
            <!--/div-->
          <% end %>
        </div>
      </div>
    </div>
</div>