<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

  <%= form_with(model: @user, url: attendances_update_month_approval_user_path(date: @first_day), method: :patch, local: true) do |f| %>

    <% @attendances.each do |user_id, attendances| %>
      <% user = User.find(user_id) %> 
      <h1>【<%= user.name %>からの1ヶ月勤怠変更申請】</h1>
      
      <table class="table table-bordered table-condensed table-hover table-striped" id="table-attendances">
        <thead>
          <tr>
            <th>月</th>
            <th>指示者確認㊞</th>
            <th>変更</th>
            <th>勤怠を確認する</th>
          </tr>
       </thead>
       <% attendances.each do |day| %>
         <%= f.fields_for "attendances[]", day do |approval| %>
           <tbody>
             <tr>
               <td><%= "#{day.apply_month.mon}月" %></td>
               <td><%= approval.select :month_status, [["なし", "1"],  ["申請中", "2"],  ["承認", "3"], ["否認", "4"]], 
                                                      { include_blank: false, selected: 2 }, class: "form-control" %></td>
               <td><%= approval.check_box :status_change, checked: day.new_record? %></td>
               <td><%= link_to "確認", user_path(user, date: day.worked_on), class: "btn btn-sm btn-primary" %></td>
             </tr>
           </tbody>
         <% end %>
       <% end %>
      </table>
    <% end %>   
      <div class="center">
        <%= f.submit "変更を送信する", class: "btn btn-lg btn-primary" %>
        <%= link_to "キャンセル", user_path(date: @first_day), class: "btn btn-lg btn-default" %> 
      </div>
  <% end %>  
</div>