<% provide(:class_text, 'attendances-application') %>
<% provide(:button_text, '変更を送信する') %>

<div> 
  
<%= form_with model: @user, url:attendances_update_attendance_application_user_path, local: true, method: :patch do |f| %>
  <% @user.each do |user| %>  
    <h1><%="【#{user.name}からの勤怠変更申請】" %></h1>

     <table class="table table-bordered table-condensed table-hover table-striped" id="table-attendances">
      <thead>
       <tr>
         <th rowspan="3">日付</th>
         <th rowspan="3">曜日</th>
         <th colspan="4">変更前</th>
         <th colspan="4">変更後</th>
         <th rowspan="3">備考</th>
         <th rowspan="3">指示者確認㊞</th>
         <th rowspan="3">変更</th>
         <th rowspan="3">勤怠を確認する</th>
       </tr>
       <tr>
         <th colspan="2">出社</th>
         <th colspan="2">退社</th>
         <th colspan="2">出社</th>
         <th colspan="2">退社</th>
       </tr>
       <tr>
         <th>時</th>
         <th>分</th>
         <th>時</th>
         <th>分</th>
         <th>時</th>
         <th>分</th>
         <th>時</th>
         <th>分</th>
       </tr>
     </thead>
     
     <%= f.fields_for :attendances do |i| %>
       <% @attendances.each do |day| %>
         <% if day.user_id == user.id %> 
           <% css_class = case $days_of_the_week[day.worked_on.wday]
        					when '土'
        						'text-primary'
        					when '日'
        						'text-danger'
        	 end %>

     <tbody>
       <tr>
         <td><%= l(day.worked_on, format: :short) %></td>
         <td class="<%= css_class %>"><%= $days_of_the_week[day.worked_on.wday] %></td> 
         <td><%= day.started_at&.strftime("%-H") %></td>
         <td><%= day.started_at&.floor_to(15.minutes)&.strftime("%-M") %></td>
         <td><%= day.finished_at&.strftime("%-H") %></td> 
         <td><%= day.finished_at&.floor_to(15.minutes)&.strftime("%-M")%></td> 
         <td><%= day.changed_started_at&.strftime("%-H") %></td>
         <td><%= day.changed_started_at&.floor_to(15.minutes)&.strftime("%-M") %></td> 
         <td><%= day.changed_finished_at&.strftime("%-H") %></td> 
         <td><%= day.changed_finished_at&.floor_to(15.minutes)&.strftime("%-M") %></td> 
         <td><%= day.note %></td>
         <td><%= i.select :change_confirmation_status, ["申請なし", "申請中", "承認", "否認"], {} %></td>
         <td><%= i.check_box :change_check %>
             <%= i.hidden_field :change_approval, value: 3 %>
         </td>
         <td><%= link_to "確認", user_path(day.user_id, date: day.worked_on.beginning_of_month), class: "btn btn-sm btn-primary" %></td>
        </tr>
      </tbody>
     <% end %>
     <% end %>
     <% end %>
    </table>
      <%= f.submit "変更を送信する", class: "btn btn-primary btn-sm" %>
    <% end %>
    <% end %>
</div>